<%= flash[:error] %>
<div id="new_game">
	<form id='new_game_form' action="/games" method="post">
		<input type="hidden" name="game[user_id]" value="<%=current_user.id%>">
		<label>Game Name</label><input type="text" name="game[name]" placeholder="Game Name"><br>
		<label>Theme</label><input type="text" name="game[theme]" placeholder="Theme"><br>
		<input type="submit" value="Submit New Game">
	</form>

	
</div>