<div id='add_clues'>
	<!-- <h5>Now add your clues</h5> -->
	<p class='error'><%= flash[:clue_error] %></p>
	<form id='add_clues_form' action="/games/<%= @game.id %>/clues" method='post'>
		<input type='hidden' name='clue[game_id]' value='<%= @game.id %>'>
		<label>Clue:</label><input type="text" name="clue[text]" placeholder="Your clue here">
		<label>Weighted Value:</label>
		<select name="clue[pt_value]">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
		<input type="submit" value="Add clue">
	</form>
</div>